html/*
GASAT-dir/*
Cdls-dir/*
Glucose-dir/*
Walksat-dir/*
Zchaff-dir/*
instances/*
benchmarks/.DS_Store
benchmarks/solved/*

images/.DS_Store

Reductions/.DS_Store

Reductions/queenResult.sat

Resultat.txt

*.txt

Satyr-dir/.DS_Store

benchmarks/.DS_Store~HEAD

zchaff

walksat

satyr

queens

images/.DS_Store~HEAD_0

images/.DS_Store~b70b477e35ce1063b50eba76ebd4dd7a23d5028c_0

images/.DS_Store~b70b477e35ce1063b50eba76ebd4dd7a23d5028c

glucose-syrup

glucose

gaSAT

images/.DS_Store~HEAD

Reductions/.DS_Store~HEAD

cdls

benchmarks/.DS_Store~b70b477e35ce1063b50eba76ebd4dd7a23d5028c

benchmark

benchmarks/.DS_Store

benchmarks/.DS_Store

benchmarks/.DS_Store

Satyr-dir/.DS_Store
